#contenedorProductos{
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0.387);
    border-radius: 10px;
    }
    
    .cardProducto{
    max-width: 30rem;
    margin: 50px;
    overflow: hidden;
    }
    
    .card-img-top {
    width: 100%;
    }
    
    .contCarro {
    margin-top: 15em;
    background-color: rgba(240, 248, 255, 0.387);
    border-radius: 10px;
    }
    
    .card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 30px;
    }
    
    .imagenCarro {
    height: 85px;
    }
    
    .cardCarro{
    max-width: 300px;
    }